.mycard_h2{
    text-align: left;
}

.mycart_h4{
    margin-top: 50px;
}
.footer_space{
    background-color: aliceblue;
    margin-top: 30px;
    padding: 30px;
}
.span{
    margin-left: 50px;
}
.span_2{
    margin-left: 250px;
}